body {
    width: 800px;
    margin: 0 auto;
}

p {
    color: dimgray;
    line-height: 12px;
}

h1 {
    height: 48px;
    line-height: 48px;
    text-align: center;
}

ul#nav li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 1em;
    margin: 0 0.5em;
    border: 2px black solid;
    border-radius: 10px;
    background-color: navy;
}

ul#nav a {
    text-decoration-line: none;
    color: white;
}

#footer {
    background-color: black;
    color: white;
    font-size: 9px;
    line-height: 10px;
    height: 10px;
    float: right;
}

form {
    display: inline-block;
}

label {
    display: inline-block;
    width: 8em;
    text-align: right;
    margin: 0 1em;
}

input[type="submit"] {
    float: right;
}

input[type="text"], textarea {
    width: 400px;
}

form textarea {
    height: 6em;
}

.error {
    color:darkred;
    font-style: oblique;
}

#form_error {
    text-align: center;
}