body {
    width: 800px;
    margin: 0 auto;
}

p {
    color: dimgray;
    line-height: 12px;
}

h1 {
    height: 48px;
    line-height: 48px;
    text-align: center;
}

ul#nav li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 1em;
    border: 2px black solid;
    border-radius: 10px;
    background-color: navy;
}

ul#nav li a {
    text-decoration-line: none;
    color: white;
}

#footer {
    background-color: black;
    color: white;
    font-size: 9px;
    line-height: 10px;
    height: 10px;
    float: right;
}

form {
    display: inline-block
}

label {
    display: inline-block;
    width: 60px;
    text-align: right;
    margin: 5px 1em;
}

input[type="submit"] {
    float: right;
}

input[type="text"], textarea {
    width: 400px;
}

.error {
    color:darkred;
}